In [1]:
import pandas as pd
import numpy as np

In [33]:
loan= pd.read_csv('Clean Leading Club data.csv')
loan

,Unnamed: 0,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,emp_length,...,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,policy_code,application_type,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,int_rate%
0,0,5000.0,5000.0,4975.0,36 months,162.87,B,B2,Others,10+ years,...,171.62,Sep-2016,744.0,740.0,1.0,INDIVIDUAL,0.0,0.0,0.0,10.65
1,1,2500.0,2500.0,2500.0,60 months,59.83,C,C4,Ryder,0-1 year,...,119.66,Sep-2016,499.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,15.27
2,2,2400.0,2400.0,2400.0,36 months,84.33,C,C5,Others,10+ years,...,649.91,Sep-2016,719.0,715.0,1.0,INDIVIDUAL,0.0,0.0,0.0,15.96
3,3,10000.0,10000.0,10000.0,36 months,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,357.48,Apr-2016,604.0,600.0,1.0,INDIVIDUAL,0.0,0.0,0.0,13.49
4,5,5000.0,5000.0,5000.0,36 months,156.46,A,A4,Veolia Transportaton,3 years,...,161.03,Jan-2016,679.0,675.0,1.0,INDIVIDUAL,0.0,0.0,0.0,7.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39161,39781,2500.0,2500.0,1075.0,36 months,78.42,A,A4,FiSite Research,4 years,...,80.90,Jun-2010,809.0,805.0,1.0,INDIVIDUAL,0.0,0.0,0.0,8.07
39162,39782,8500.0,8500.0,875.0,36 months,275.38,C,C1,"Squarewave Solutions, Ltd.",3 years,...,281.94,Jul-2010,639.0,635.0,1.0,INDIVIDUAL,0.0,0.0,0.0,10.28
39163,39783,5000.0,5000.0,1325.0,36 months,156.84,A,A4,Others,0-1 year,...,0.00,Jun-2007,744.0,740.0,1.0,INDIVIDUAL,0.0,0.0,0.0,8.07
39164,39784,5000.0,5000.0,650.0,36 months,155.38,A,A2,Others,0-1 year,...,0.00,Jun-2007,814.0,810.0,1.0,INDIVIDUAL,0.0,0.0,0.0,7.43
39165,39785,7500.0,7500.0,800.0,36 months,255.43,E,E2,Evergreen Center,0-1 year,...,256.59,Jun-2010,659.0,655.0,1.0,INDIVIDUAL,0.0,0.0,0.0,13.75

In [34]:
loan.drop(columns='Unnamed: 0',inplace=True)

In [35]:
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,policy_code,application_type,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,int_rate%
0,5000.0,5000.0,4975.0,36 months,162.87,B,B2,Others,10+ years,RENT,...,171.62,Sep-2016,744.0,740.0,1.0,INDIVIDUAL,0.0,0.0,0.0,10.65
1,2500.0,2500.0,2500.0,60 months,59.83,C,C4,Ryder,0-1 year,RENT,...,119.66,Sep-2016,499.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,15.27
2,2400.0,2400.0,2400.0,36 months,84.33,C,C5,Others,10+ years,RENT,...,649.91,Sep-2016,719.0,715.0,1.0,INDIVIDUAL,0.0,0.0,0.0,15.96
3,10000.0,10000.0,10000.0,36 months,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,...,357.48,Apr-2016,604.0,600.0,1.0,INDIVIDUAL,0.0,0.0,0.0,13.49
4,5000.0,5000.0,5000.0,36 months,156.46,A,A4,Veolia Transportaton,3 years,RENT,...,161.03,Jan-2016,679.0,675.0,1.0,INDIVIDUAL,0.0,0.0,0.0,7.90

In [36]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39166 entries, 0 to 39165
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39166 non-null  float64
 1   funded_amnt              39166 non-null  float64
 2   funded_amnt_inv          39166 non-null  float64
 3   term                     39166 non-null  object
 4   installment              39166 non-null  float64
 5   grade                    39166 non-null  object
 6   sub_grade                39166 non-null  object
 7   emp_title                39166 non-null  object
 8   emp_length               39166 non-null  object
 9   home_ownership           39166 non-null  object
 10  annual_inc               39166 non-null  float64
 11  verification_status      39166 non-null  object
 12  issue_d                  39166 non-null  object
 13  loan_status              39166 non-null  object
 14  pymnt_plan               39166 non-null  object
 15  purpose                  39166 non-null  object
 16  title                    39166 non-null  object
 17  addr_state               39166 non-null  object
 18  dti                      39166 non-null  float64
 19  delinq_2yrs              39166 non-null  float64
 20  earliest_cr_line         39166 non-null  object
 21  fico_range_low           39166 non-null  float64
 22  fico_range_high          39166 non-null  float64
 23  inq_last_6mths           39166 non-null  float64
 24  open_acc                 39166 non-null  float64
 25  pub_rec                  39166 non-null  float64
 26  revol_bal                39166 non-null  float64
 27  revol_util               39166 non-null  float64
 28  total_acc                39166 non-null  float64
 29  initial_list_status      39166 non-null  object
 30  out_prncp                39166 non-null  float64
 31  out_prncp_inv            39166 non-null  float64
 32  total_pymnt              39166 non-null  float64
 33  total_pymnt_inv          39166 non-null  float64
 34  total_rec_prncp          39166 non-null  float64
 35  total_rec_int            39166 non-null  float64
 36  total_rec_late_fee       39166 non-null  float64
 37  recoveries               39166 non-null  float64
 38  collection_recovery_fee  39166 non-null  float64
 39  last_pymnt_d             39166 non-null  object
 40  last_pymnt_amnt          39166 non-null  float64
 41  last_credit_pull_d       39166 non-null  object
 42  last_fico_range_high     39166 non-null  float64
 43  last_fico_range_low      39166 non-null  float64
 44  policy_code              39166 non-null  float64
 45  application_type         39166 non-null  object
 46  acc_now_delinq           39166 non-null  float64
 47  delinq_amnt              39166 non-null  float64
 48  pub_rec_bankruptcies     39166 non-null  float64
 49  int_rate%                39166 non-null  float64
dtypes: float64(32), object(18)
memory usage: 14.9+ MB

In [37]:
loan.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'installment',
       'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low', 'policy_code',
       'application_type', 'acc_now_delinq', 'delinq_amnt',
       'pub_rec_bankruptcies', 'int_rate%'],
      dtype='object')

In [38]:
clo = ['funded_amnt_inv','sub_grade', 'emp_title', 'emp_length','pymnt_plan','title', 'addr_state','open_acc','pub_rec',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv','total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 
       'total_rec_int','total_rec_late_fee', 'recoveries', 'collection_recovery_fee','last_pymnt_d','last_credit_pull_d',
       'policy_code','application_type', 'acc_now_delinq', 'delinq_amnt','pub_rec_bankruptcies','term','issue_d','earliest_cr_line']
clo

['funded_amnt_inv',
 'sub_grade',
 'emp_title',
 'emp_length',
 'pymnt_plan',
 'title',
 'addr_state',
 'open_acc',
 'pub_rec',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_credit_pull_d',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'delinq_amnt',
 'pub_rec_bankruptcies',
 'term',
 'issue_d',
 'earliest_cr_line']

In [39]:
loan.drop(columns=clo,inplace=True)

In [40]:
loan.sample()

,loan_amnt,funded_amnt,installment,grade,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,revol_bal,revol_util,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,int_rate%
29757,4975.0,4975.0,154.77,A,RENT,34000.0,Not Verified,Charged Off,major_purchase,3.64,0.0,745.0,749.0,0.0,655.0,3.1,162.71,599.0,595.0,7.51

In [41]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39166 entries, 0 to 39165
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             39166 non-null  float64
 1   funded_amnt           39166 non-null  float64
 2   installment           39166 non-null  float64
 3   grade                 39166 non-null  object
 4   home_ownership        39166 non-null  object
 5   annual_inc            39166 non-null  float64
 6   verification_status   39166 non-null  object
 7   loan_status           39166 non-null  object
 8   purpose               39166 non-null  object
 9   dti                   39166 non-null  float64
 10  delinq_2yrs           39166 non-null  float64
 11  fico_range_low        39166 non-null  float64
 12  fico_range_high       39166 non-null  float64
 13  inq_last_6mths        39166 non-null  float64
 14  revol_bal             39166 non-null  float64
 15  revol_util            39166 non-null  float64
 16  last_pymnt_amnt       39166 non-null  float64
 17  last_fico_range_high  39166 non-null  float64
 18  last_fico_range_low   39166 non-null  float64
 19  int_rate%             39166 non-null  float64
dtypes: float64(15), object(5)
memory usage: 6.0+ MB

In [42]:
loan.columns

Index(['loan_amnt', 'funded_amnt', 'installment', 'grade', 'home_ownership',
       'annual_inc', 'verification_status', 'loan_status', 'purpose', 'dti',
       'delinq_2yrs', 'fico_range_low', 'fico_range_high', 'inq_last_6mths',
       'revol_bal', 'revol_util', 'last_pymnt_amnt', 'last_fico_range_high',
       'last_fico_range_low', 'int_rate%'],
      dtype='object')

In [43]:
cat_var = ['grade','home_ownership','verification_status','purpose']

In [44]:
for var in cat_var:
    cat_list = 'var'+var
    cat_list = pd.get_dummies(loan[var],prefix=var)
    df1= loan.join(cat_list)
    loan = df1

In [45]:
loan.sample()

,loan_amnt,funded_amnt,installment,grade,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
28925,9600.0,8925.0,279.19,A,MORTGAGE,35004.0,Not Verified,Fully Paid,home_improvement,20.33,...,1,0,0,0,0,0,0,0,0,0

In [46]:
loan.shape

(39166, 49)

In [47]:
loan.drop(columns=cat_var,inplace=True)

In [48]:
loan.columns.to_list()

['loan_amnt',
 'funded_amnt',
 'installment',
 'annual_inc',
 'loan_status',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'revol_bal',
 'revol_util',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'int_rate%',
 'grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'home_ownership_MORTGAGE',
 'home_ownership_NONE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'verification_status_Not Verified',
 'verification_status_Source Verified',
 'verification_status_Verified',
 'purpose_car',
 'purpose_credit_card',
 'purpose_debt_consolidation',
 'purpose_educational',
 'purpose_home_improvement',
 'purpose_house',
 'purpose_major_purchase',
 'purpose_medical',
 'purpose_moving',
 'purpose_other',
 'purpose_renewable_energy',
 'purpose_small_business',
 'purpose_vacation',
 'purpose_wedding']

In [49]:
x= loan.drop(columns='loan_status')

In [50]:
y= loan['loan_status']

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [51]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3)

In [52]:
X_train

,loan_amnt,funded_amnt,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,revol_bal,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
6546,20000.0,20000.0,478.64,102000.0,12.76,0.0,740.0,744.0,6.0,7638.0,...,0,0,0,0,0,0,0,0,0,0
14502,6500.0,6500.0,212.78,60000.0,16.92,0.0,690.0,694.0,0.0,5113.0,...,0,0,0,0,0,0,0,0,0,0
14770,3000.0,3000.0,90.48,47000.0,19.48,0.0,755.0,759.0,0.0,4034.0,...,1,0,0,0,0,0,0,0,0,0
29942,5600.0,5600.0,172.31,35375.0,4.07,0.0,775.0,779.0,0.0,4173.0,...,0,0,0,0,0,0,0,0,0,0
16973,8000.0,8000.0,199.43,43000.0,23.50,0.0,665.0,669.0,0.0,13427.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,8800.0,8800.0,238.77,62400.0,15.88,0.0,670.0,674.0,1.0,31334.0,...,0,0,0,0,0,0,0,0,0,0
27232,25000.0,25000.0,815.52,85000.0,0.17,0.0,795.0,799.0,0.0,12.0,...,0,0,0,0,0,0,0,1,0,0
32548,10600.0,10600.0,352.98,94000.0,8.49,1.0,735.0,739.0,1.0,9044.0,...,0,0,0,0,0,0,0,0,0,1
2307,20000.0,20000.0,625.81,63000.0,18.32,0.0,755.0,759.0,1.0,5474.0,...,0,0,0,0,0,0,0,0,0,0
24303,5000.0,5000.0,156.41,27000.0,2.00,0.0,740.0,744.0,1.0,2227.0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
X_test

,loan_amnt,funded_amnt,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,revol_bal,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
30321,8450.0,8450.0,275.13,38500.0,16.71,0.0,740.0,744.0,0.0,8585.0,...,0,0,0,0,0,0,0,0,0,0
23130,16000.0,11200.0,235.88,175000.0,6.73,0.0,715.0,719.0,2.0,24530.0,...,0,0,0,0,0,1,0,0,0,0
10923,2700.0,2700.0,54.09,12000.0,28.00,0.0,770.0,774.0,0.0,5118.0,...,0,0,0,0,0,0,0,0,0,0
5384,10000.0,10000.0,353.01,120000.0,12.84,0.0,660.0,664.0,2.0,21927.0,...,0,0,0,0,0,0,0,0,0,1
31073,22750.0,22750.0,740.74,35000.0,16.66,0.0,780.0,784.0,4.0,10754.0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11277,15775.0,15775.0,513.40,56472.0,17.28,0.0,720.0,724.0,0.0,14168.0,...,0,0,0,0,0,0,0,0,0,0
19829,18000.0,18000.0,619.93,72000.0,6.63,1.0,680.0,684.0,0.0,13051.0,...,0,0,0,0,0,0,0,0,0,0
27089,4800.0,4800.0,162.27,54000.0,22.51,0.0,685.0,689.0,1.0,10274.0,...,0,0,0,0,0,0,0,0,0,0
37879,7500.0,6650.0,218.60,72000.0,16.86,0.0,695.0,699.0,1.0,21659.0,...,0,0,0,0,0,0,0,0,0,0
8738,8000.0,8000.0,246.99,72252.0,8.77,0.0,735.0,739.0,1.0,28214.0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
Y_train

6546     Fully Paid
14502    Fully Paid
14770    Fully Paid
29942    Fully Paid
16973    Fully Paid
            ...
21567    Fully Paid
27232    Fully Paid
32548    Fully Paid
2307     Fully Paid
24303    Fully Paid
Name: loan_status, Length: 27416, dtype: object

In [55]:
Y_test

30321     Fully Paid
23130     Fully Paid
10923     Fully Paid
5384     Charged Off
31073     Fully Paid
            ...
11277     Fully Paid
19829     Fully Paid
27089     Fully Paid
37879    Charged Off
8738      Fully Paid
Name: loan_status, Length: 11750, dtype: object

In [56]:
log_reg = LogisticRegression(max_iter=1000)

In [57]:
log_reg.fit(X_train,Y_train)

C:\Users\Yash\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [58]:
y_pred = log_reg.predict(X_test)
y_pred

array(['Fully Paid', 'Fully Paid', 'Fully Paid', ..., 'Fully Paid',
       'Fully Paid', 'Fully Paid'], dtype=object)

In [59]:
print("Accuray is ",log_reg.score(X_train,Y_train))

Accuray is  0.9021009629413481

In [60]:
print("Accuray is ",log_reg.score(X_test,Y_test))

Accuray is  0.902127659574468